.wrap-contenido {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrap-contenido section {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
}

.wrap-contenido .column {
  margin: 0;
  padding: 10px;
  width: 50%;
}

.wrap-contenido .column.opciones {
  background: #ff2e00 !important;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/*
.wrap-contenido .column.resultados {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/
.wrap-contenido .column.opciones .titulo {
  flex-direction: column;
}

.wrap-contenido .column.opciones .titulo h1 {
  font-weight: bold;
  text-align: center;
}

.wrap-contenido .column.opciones .titulo h3 {
  text-align: center;
  font-weight: 100;
}

.wrap-contenido .column.opciones .titulo p {
  color: #FFFFFF;
  font-weight: 400;
}

.btn.negro {
  background: #111111;
  font-size: 0.9em;
  border-radius: 20px;
}

.btn.negro .material-icons {
  font-size: 1.3em;
  padding-top: 1px;
  position: relative;
  float: right;
  color: #FF2D00;
}

.form-group label {
  font-size: 0.5em;
  font-weight: bold;
}

.Notificaciones {
  position: absolute;
  left: 50%;
  background: #FF2D00;
  transition: all 1s;
  width: 18em;
  padding-top: 5px;
  padding-left: 5px;
  box-shadow: 0 0 10px #000;
  transition: all 1s;
}

.Notificaciones p {
  color: #FFFFFF;
  padding-left: 50px;
  padding-top: 7px;
}

.Notificaciones .material-icons {
  font-size: 2em;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 6px;
  left: 0;
}

.Resultados {
  transition: all 1s;
  color: #333333;
  
}

.column.resultados {
  background-size: cover !important;
}

.Resultados h1 {
  font-weight: 100;
}

.Resultados h1 .material-icons {
  font-size: 1.5em;
  position: relative;
  float: left;
  left: 0px;
  top: 0px;
  margin: 0;
  margin-top: -5px;
}

.Resultados .col {
  flex-direction: row;
}
.Resultados .row {
  margin: 10px 0;
  padding: 0 20px;
}
.Resultados .row.rex {
  background: #cccccc;
  padding: 10px 0;
}
.Resultados .row.rex.tit {
  background: #000;
}
.Resultados .row h2 {
  font-size: 0.7rem;
  font-weight: bold;
}
.Resultados .row.rex.tit h1 {
  color: #ffffff;
    font-size: 0.9em;
    font-weight: bold;
}
.Resultados .row p {
  font-size: 1.2rem;
  text-align: center;
}